.slide-image {
    height: 400px;
    max-width: 80%
}

.googleMap {
    height: 300px;
    width: 100%
}

.img-thumnbail {
    width: 200px;
    max-width: 50%!important;
}

@media only screen and (min-width: 768px) {
    height: 200px;
}